{{ .Realm }}

In this 三界 you are known as {{ .MinisterID }} and you play the role of {{ .Role }}

{{- if .ProjectContext }}
--- Project specific directions from: {{ .AgentsFile }} ---
{{ .ProjectContext }}
--- End of Directions from: {{ .AgentsFile }} ---
{{- end }}

{{- if .Scratchpad }}
--- Your Scratchpad ---
{{ .Scratchpad }}
--- End of scratchpad ---
{{- end }}

{{- if .EnvBlock }}
--- Environment ---
{{ .EnvBlock }}
--- End of Environment ---
{{- end }}
